/* Body Styles */
body {
    background-color: rgb(169, 84, 180);
}

/* Logo Styles */
.logo {
    grid-row: 1;
    grid-column: 1;
    max-width: 150px;
    display: block;
    /* margin:auto; */
}

/* Navigation Styles */
.navigation {
    text-align: left;
    grid-row: 2;
    grid-column: 1;
    overflow: auto;
    white-space: nowrap;
}
/* Navigation Link Styles */
.navigation a {
    color: beige;
    padding: 10px;
    text-decoration:none;
    text-align: right;
}
/* the pages background  */
.navigation a:hover {
    background-color: rgb(245, 218, 242);
}
/* Header Styles */
.header {
    grid-row: 1;
    grid-column: 2;
    color: beige;
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: auto 1fr auto;
     /* automatically fits */
    grid-template-rows: auto auto;
    font-family: "Averia Serif Libre", serif;
    font-size: 150%;
}
/* mini slogan */
.header p {
    margin-top: 1; /* Reset default margin */
    grid-row: 2;
    grid-column: 2;
}

/* Banner Styles */
.banner {
    min-width: fit-content;
    grid-row: 1;
    grid-column: 2;
    background-size: cover;
    background-position: center;
}

/* Banner Heading Styles */
.banner h1 {
    text-align: center;
    margin: 10px;
    padding: 2em;
    font-size: 2em;
    text-shadow: 5px 0px 20px beige;
}

/* Search Form Styles */
.search {
    grid-row: 2;
    grid-column: 3;
    display: flex;
    margin: 5px;
}
/* the textbox */
.search input {
    flex: 1;
    padding: 5px;
    background-color: transparent;
    border: solid 1px rgb(124, 38, 136);
    border-radius: 5px 0px 0px 5px;
    height: min-content;
}
/* the search press*/
.search button {
    padding: 5px;
    background-color: beige;
    border: solid 1px rgb(124, 38, 136);
    border-radius: 0px 5px 5px 0px;
    height: min-content;
    color:rgb(169, 84, 180);
}
/* the pages */
.navigation a.active {
    background-color: transparent;
    color: beige;
    text-decoration: underline;
}
/* Dropdown Button */
.dropbtn {
    color: palevioletred;
    padding: 10px;
    text-decoration: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(241, 209, 214);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Show the Dropdown Content*/
.dropdown:hover .dropdown-content, .dropdown:focus-within .dropdown-content {
    display: block;
}

/* Style the inside of the Dropdown */
.dropdown-content a {
    color: palevioletred;
    padding: 12px 16px;
    text-decoration: none;
    display: horizontal ;
}

/* Change Color of Links on Hover */
.dropdown-content a:hover {
    background-color: rgb(255, 202, 238);
    display: horizontal;
}
/* all the pics in the main part */
.media{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.intro{
    color:beige;
    max-width: 700px;
    margin: auto;
    font-size: large;
    text-align: center;
}
/* status bar indicator */
.status-bar{
    color:white;
    text-shadow: rgb(66, 176, 64);
    padding: 1px;
    background-color:transparent;
    position: fixed;
     bottom: 1px; 
    left: 0;
    width: 100%; 
}
.pics{
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap:30px;
}
.pics img{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.pics video{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover; 
}
video.poster{
    grid-row: span 2;
    aspect-ratio:auto;
}
.item{
    border: none;
    background-color: inherit;
    font-size: large;
    cursor: pointer;
}
.item button{
    padding: 7px;
    background-color: beige;
    color:rgb(169, 84, 180);
    border-color: transparent;
    font-size: 15px;
}